{% load static tailwind_tags %}
<div class="w-full h-full bg-[#00aaff11]">
    <div class="px-10 lg:px-16 2xl:px-64 py-10">
        <div class="h-auto w-full flex">
            <div class="flex-1 grid grid-cols-2 grid-rows-2 gap-x-12 gap-y-5">
                <div >
                    <p class="text-2xl text-[#01acff]">Customer Care</p>
                    <div class="mt-3 flex flex-col justify-start items-start">
                        <a href="#" class="hover:underline text-[16px]">Help Center</a>
                        <a href="#" class="hover:underline text-[16px]">How to Buy</a>
                        <a href="#" class="hover:underline text-[16px]">Returns & Refunds</a>
                        <a href="#" class="hover:underline text-[16px]">Contact Us</a>
                        <a href="#" class="hover:underline text-[16px]">Terms & Conditions</a>
                        <a href="#" class="hover:underline text-[16px]">CCMS - Central Complain Management System</a>
                    </div>
                </div>
                
                <div class="row-span-2">
                    <p class="text-2xl text-[#01acff] ">Daraz</p>
                    <div class="mt-3 flex flex-col justify-start items-start">
                        <a href="#" class="hover:underline text-[16px]">About Daraz</a>
                        <a href="#" class="hover:underline text-[16px]">Digital Payments</a>
                        <a href="#" class="hover:underline text-[16px]">Daraz Card</a>
                        <a href="#" class="hover:underline text-[16px]">Daraz Blog</a>
                        <a href="#" class="hover:underline text-[16px]">Daraz Cares</a>
                        <a href="#" class="hover:underline text-[16px]">Daraz Mart</a>
                        <a href="#" class="hover:underline text-[16px]">Privacy Policy</a>
                        <a href="#" class="hover:underline text-[16px]">Daraz App</a>
                        <a href="#" class="hover:underline text-[16px]">Daraz Exclusives</a>
                        <a href="#" class="hover:underline text-[16px]">Daraz Donates</a>
                    </div>
                </div>
                
                <div >
                    <p class="text-2xl text-[#01acff]">Earn With Daraz</p>
                    <div class="mt-3 flex flex-col justify-start items-start">
                        <a href="#" class="hover:underline text-[16px]">Daraz University</a>
                        <a href="#" class="hover:underline text-[16px]">Sell on Daraz</a>
                        <a href="#" class="hover:underline text-[16px]">Code of Conduct</a>
                        <a href="#" class="hover:underline text-[16px]">Join the Daraz Affiliate Program</a>
                    </div>
                </div>
            </div>
            <div class="flex-1 flex ">
                <div class="flex-1">
                    <div>
                        <p class="text-2xl text-[#01acff]">Customer Care</p>
                        <div class="mt-3 grid grid-cols-2 justify-start items-start gap-y-3 pr-28">
                            <a href="#" class="hover:underline text-[16px] flex justify-start items-center gap-2">
                                <p class="h-8 w-8 rounded-full" style="background-image: url(/static/assets/icon/pakistan.png); background-size: contain; background-position: center;"></p>
                                <p class="hover:underline text-[16px]">Pakistan</p>
                            </a>
                            <a href="#" class="hover:underline text-[16px] flex justify-start items-center gap-2">
                                <p class="h-8 w-8 rounded-full" style="background-image: url(/static/assets/icon/bangladesh.png); background-size: contain; background-position: center;"></p>
                                <p class="hover:underline text-[16px]">Bangladesh</p>
                            </a>
                            <a href="#" class="hover:underline text-[16px] flex justify-start items-center gap-2">
                                <p class="h-8 w-8 rounded-full" style="background-image: url(/static/assets/icon/srilanka.png); background-size: contain; background-position: center;"></p>
                                <p class="hover:underline text-[16px]">Sri Lanka</p>
                            </a>
                            <a href="#" class="hover:underline text-[16px] flex justify-start items-center gap-2">
                                <p class="h-8 w-8 rounded-full" style="background-image: url(/static/assets/icon/myanmar.png); background-size: contain; background-position: center;"></p>
                                <p class="hover:underline text-[16px]">Myanmar</p>
                            </a>
                            <a href="#" class="hover:underline text-[16px] flex justify-start items-center gap-2">
                                <p class="h-8 w-8 rounded-full" style="background-image: url(/static/assets/icon/nepal.png); background-size: contain; background-position: center;"></p>
                                <p class="hover:underline text-[16px]">Nepal</p>
                            </a>
                        </div>
                    </div>
                    <div class="mt-5">
                        <p class="text-2xl text-[#01acff]">Customer Care</p>
                        <div class="mt-3 grid grid-cols-4 justify-start items-start gap-1 pr-28">
                            <p class="h-8 w-14 rounded-sm" style="background-image: url(/static/assets/icon/cod.png); background-size: contain; background-position: center;"></p>
                            <p class="h-8 w-14 rounded-sm" style="background-image: url(/static/assets/icon/visa.png); background-size: contain; background-position: center;"></p>
                            <p class="h-8 w-14 rounded-sm" style="background-image: url(/static/assets/icon/master.png); background-size: contain; background-position: center;"></p>
                            <p class="h-8 w-14 rounded-sm" style="background-image: url(/static/assets/icon/american.png); background-size: contain; background-position: center;"></p>
                            <p class="h-8 w-14 rounded-sm" style="background-image: url(/static/assets/icon/emi.png); background-size: contain; background-position: center;"></p>
                            <p class="h-8 w-14 rounded-sm" style="background-image: url(/static/assets/icon/bkash.png); background-size: contain; background-position: center;"></p>
                            <p class="h-8 w-14 rounded-sm" style="background-image: url(/static/assets/icon/nagad.png); background-size: contain; background-position: center;"></p>
                            <p class="h-8 w-14 rounded-sm" style="background-image: url(/static/assets/icon/dbl.png); background-size: contain; background-position: center;"></p>
                            <p class="h-8 w-14 rounded-sm" style="background-image: url(/static/assets/icon/roket.png); background-size: contain; background-position: center;"></p>
                        </div>
                    </div>
                    <div class="mt-5 flex justify-start items-start gap-10">
                        <div>
                            <p class="text-xl text-[#01acff]">Verified by</p>
                            <div class="mt-3">
                                <p class="h-[50px] w-[90px] rounded-sm bg-slate-800" style="background-image: url(/static/assets/icon/pci_dss.png); background-size: cover; background-position: center;"></p>
                            </div>
                        </div>
                        <div>
                            <p class="text-xl text-[#01acff]">DBID</p>
                            <div class="mt-3">
                                <p class="text-sm">Registration ID : <br>304903094</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="flex-1">
                    <div>
                        <p class="text-2xl text-[#01acff]">Exclusive Deals and Offers!</p>
                        <div class="mt-3 grid grid-cols-2 justify-start items-start gap-y-1 pr-24">
                            <p class="h-28 w-28 rounded-sm row-span-3" style="background-image: url(/static/assets/icon/qr_code.png); background-size: contain; background-position: center;"></p>
                            <a href="#"><p class="h-8 w-[120px] rounded-sm" style="background-image: url(/static/assets/icon/app_store.png); background-size: cover; background-position: center;"></p></a>
                            <a href="#"><p class="h-8 w-[120px] rounded-sm" style="background-image: url(/static/assets/icon/play_store.png); background-size: cover; background-position: center;"></p></a>
                            <a href="#"><p class="h-8 w-[120px] rounded-sm" style="background-image: url(/static/assets/icon/app_gallery.png); background-size: cover; background-position: center;"></p></a>
                        </div>
                        <div class="mt-10">
                            <p class="h-14 w-60  rounded-sm" style="background-image: url(/static/assets/icon/daraz_app.png); background-size: cover; background-position: center;"></p>
                        </div>
                        <div class="mt-16">
                            <p class="text-xl text-[#01acff]">Follow Us</p>
                            <div class="flex justify-start items-start gap-3 mt-2">
                                <a href="#"><i class='bx bxl-facebook-circle text-3xl text-blue-700'></i></a>
                                <a href="#"><i class='bx bx-globe text-3xl text-red-700' ></i></a>
                                <a href="#"><i class='bx bxl-youtube text-3xl text-red-700' ></i></a>
                                <a href="#"><i class='bx bxl-twitter text-3xl text-blue-700' ></i></a>
                                <a href="#"><i class='bx bxl-instagram text-3xl text-red-900' ></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>