
{% extends 'theme/base.html' %}
{% load static tailwind_tags %}
{%block title%} Home {%endblock%}

{% block content %}
<div class="mt-4">
    <!-- ...............Top Category, sub Category, Group, Banner....................... -->
    <section class="h-96 w-full flex justify-between items-center relative text-sm text-gray-500 font-semibold">
        <!-- ..........Category.......... -->
        <div class="z-30">
            {% include 'theme/categories.html' %}
        </div>


        <!-- ...................Banner................... -->
        <div class="banner h-full w-[69%] lg:w-[79%] rounded-r-[10px] border-l-2 border-blue-400"> 
            <div id="default-carousel" class="relative w-full" data-carousel="slide">
                <!-- Carousel wrapper -->
                <div class="relative h-56 overflow-hidden rounded-r-[10px] md:h-96 z-20">
                    <!-- Item 1 -->
                    {% for banner in banners %}
                    <a href="#" class="hidden duration-700 ease-in-out" data-carousel-item>
                        <img src="{{ banner.image.url }}" class="absolute block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="image01">
                    </a>
                    {% endfor %}
                </div>
                <!-- Slider indicators -->
                <div class="absolute z-20 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                    {% for banner in banners %}
                    <button type="button" class="w-3 h-3 rounded-full bg-[#01acff]" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                    {% endfor %}
                </div>
                <!-- Slider controls -->
                <button type="button" class="absolute top-0 start-0 z-20 flex items-center justify-center h-full cursor-pointer group focus:outline-none " data-carousel-prev>
                    <span class="inline-flex items-center justify-center w-7 h-28 rounded-r-md bg-black/30  group-hover:bg-white/60  group-focus:ring-1 group-focus:ring-white  group-focus:outline-none">
                        <svg class="w-4 h-4 text-white group-hover:text-black rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button" class="absolute top-0 end-0 z-20 flex items-center justify-center h-full  cursor-pointer group focus:outline-none " data-carousel-next>
                    <span class="inline-flex items-center justify-center w-7 h-28 rounded-l-md bg-black/30  group-hover:bg-white/60  group-focus:ring-1 group-focus:ring-white  group-focus:outline-none">
                        <svg class="w-4 h-4 text-white group-hover:text-black rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>

        </div>
        
    </section>

    <!-- .......................FAQ Card....................... -->
    <a href="#" id="faq" class="faq group ">
        <div class="h-[40px] w-[100%] bg-[#01aaff34] hover:bg-[#01aaff79] mt-3 mb-5 rounded-[10px] flex flex-row justify-between items-center divide-x-2 divide-white overflow-hidden">
            <div class="flex justify-center items-center flex-auto px-3">
                <i class='bx bxs-check-shield text-[25px] h-full text-[#4083db]'></i>
                <p class="ps-3 text-[12px] 2xl:text-[16px]">Safe Payments</p>
            </div>
            <div class="flex justify-center items-center flex-auto px-3">
                <i class='bx bxl-shopify text-[25px] h-full text-[#154e1c]'></i>
                <p class="ps-3 text-[12px] 2xl:text-[16px]">Nationwide Delivery</p>
            </div>
            <div class="flex justify-center items-center flex-auto px-3">
                <i class='bx bx-redo text-[25px] h-full text-[#e24141]' ></i>
                <p class="ps-3 text-[12px] 2xl:text-[16px]">Free & 14 Days Easy Return</p>
            </div>
            <div class="flex justify-center items-center flex-auto px-3">
                <i class='bx bxs-purchase-tag text-[25px] h-full text-[#4083db]' ></i>
                <p class="ps-3 text-[12px] 2xl:text-[16px]">Best Price Guaranteed</p>
            </div>
            <div class="flex justify-center items-center flex-auto px-3">
                <i class='bx bxs-badge-check text-[25px] h-full text-[#ff0101]'></i>
                <p class="ps-3 text-[12px] 2xl:text-[16px]">100% Authentic Products</p>
            </div>
            <div class="flex justify-center items-center flex-auto px-3 relative">
                <i class='bx bxs-shield text-[25px] h-full text-[#4083db]' ></i>
                <p class="ps-3 pe-5 text-[12px] 2xl:text-[16px]">Daraz Verified</p>
                <i class='bx bx-chevron-right text-[25px] text-[#ffffff] right-1 hidden group-hover:block absolute' ></i>
            </div>
        </div>
    </a>


    <!-- ...................OFFERS.................... -->
    <section class="h-[140px] w-[100%] bg-white shadow-[inset_1px_1px_5px_#01acff] mt-3 mb-5 px-3 rounded-[10px] flex flex-row justify-between items-center overflow-hidden">
        <div class="flex-auto group">
            <a href="{% url 'offer:wholesale' %}" class="flex flex-col justify-center items-center">
                <div class="h-[80px] w-[80px] origin-center group-hover:rotate-12 transition ease-in-out duration-200 delay-150" style="background-image: url(/static/assets/banner_offers/Wholesale_Price.png); background-size: cover; background-position: center;"></div>
                <p class="text-center text-sm font-semibold pt-2 group-hover:text-[#01acff]">Wholesale Price</p>
            </a>
        </div>
        <hr class="h-16 border-l-2 border-[#01aaff46]">
        <div class="flex-auto group">
            <a href="{% url 'offer:low_price' %}" class="flex flex-col justify-center items-center">
                <div class="h-[80px] w-[80px] origin-center group-hover:rotate-12 transition ease-in-out duration-200 delay-150" style="background-image: url(/static/assets/banner_offers/Everyday_Low_Price!.png); background-size: cover; background-position: center;"></div>
                <p class="text-center text-sm font-semibold pt-2 group-hover:text-[#01acff]">Everyday Low Price!</p>
            </a>
        </div>
        <hr class="h-16 border-l-2 border-[#01aaff46]">
        <div class="flex-auto group">
            <a href="{% url 'offer:free_delivery' %}" class="flex flex-col justify-center items-center">
                <div class="h-[80px] w-[80px] origin-center group-hover:rotate-12 transition ease-in-out duration-200 delay-150" style="background-image: url(/static/assets/banner_offers/Free_Delivery.png); background-size: cover; background-position: center;"></div>
                <p class="text-center text-sm font-semibold pt-2 group-hover:text-[#01acff]">Free Delivery</p>
            </a>
        </div>
        <hr class="h-16 border-l-2 border-[#01aaff46]">
        <div class="flex-auto group">
            <a href="{% url 'offer:fashion' %}" class="flex flex-col justify-center items-center">
                <div class="h-[80px] w-[80px] origin-center group-hover:rotate-12 transition ease-in-out duration-200 delay-150" style="background-image: url(/static/assets/banner_offers/Fashion.png); background-size: cover; background-position: center;"></div>
                <p class="text-center text-sm font-semibold pt-2 group-hover:text-[#01acff]">Fashion</p>
            </a>
        </div>
        <hr class="h-16 border-l-2 border-[#01aaff46]">
        <div class="flex-auto group">
            <a href="{% url 'offer:beauty' %}" class="flex flex-col justify-center items-center">
                <div class="h-[80px] w-[80px] origin-center group-hover:rotate-12 transition ease-in-out duration-200 delay-150" style="background-image: url(/static/assets/banner_offers/Beauty_Glamour.png); background-size: cover; background-position: center;"></div>
                <p class="text-center text-sm font-semibold pt-2 group-hover:text-[#01acff]">Beauty & Glamour</p>
            </a>
        </div>
        <hr class="h-16 border-l-2 border-[#01aaff46]">
        <div class="flex-auto group">
            <a href="{% url 'offer:mart' %}" class="flex flex-col justify-center items-center">
                <div class="h-[80px] w-[80px] origin-center group-hover:rotate-12 transition ease-in-out duration-200 delay-150" style="background-image: url(/static/assets/banner_offers/Mart.png); background-size: cover; background-position: center;"></div>
                <p class="text-center text-sm font-semibold pt-2 group-hover:text-[#01acff]">Mart</p>
            </a>
        </div>
        <hr class="h-16 border-l-2 border-[#01aaff46]">
        <div class="flex-auto group">
            <a href="{% url 'offer:home_makeover' %}" class="flex flex-col justify-center items-center">
                <div class="h-[80px] w-[80px] origin-center group-hover:rotate-12 transition ease-in-out duration-200 delay-150" style="background-image: url(/static/assets/banner_offers/Home_Makeover.png); background-size: cover; background-position: center;"></div>
                <p class="text-center text-sm font-semibold pt-2 group-hover:text-[#01acff]">Home Makeover</p>
            </a>
        </div>
        <hr class="h-16 border-l-2 border-[#01aaff46]">
        <div class="flex-auto group">
            <a href="{% url 'offer:best_price' %}" class="flex flex-col justify-center items-center">
                <div class="h-[80px] w-[80px] origin-center group-hover:rotate-12 transition ease-in-out duration-200 delay-150" style="background-image: url(/static/assets/banner_offers/Best_Price_Guaranteed.png); background-size: cover; background-position: center;"></div>
                <p class="text-center text-sm font-semibold pt-2 group-hover:text-[#01acff]">Best Price Guaranteed</p>
            </a>
        </div>
        <hr class="h-16 border-l-2 border-[#01aaff46]">
        <div class="flex-auto group">
            <a href="{% url 'offer:daraz_visa' %}" class="flex flex-col justify-center items-center">
                <div class="h-[80px] w-[80px] origin-center group-hover:rotate-12 transition ease-in-out duration-200 delay-150" style="background-image: url(/static/assets/banner_offers/Daraz_VISA_Card.png); background-size: cover; background-position: center;"></div>
                <p class="text-center text-sm font-semibold pt-2 group-hover:text-[#01acff]">Daraz VISA Card</p>
            </a>
        </div>
        

    </section>


    <!-- .................Flash Sale................... -->
    <section class="mt-10 pt-5 px-5 pb-1 ">
        <p class="text-2xl m-0 p-0 font-semibold text-[#01acff] ">FlashSale</p>
        <div class="h-auto w-[100%] bg-white  mt-3 mb-5 pb-3 rounded-[5px]">
            <div class="h-[70px] border-b-2 border-[#01aaff8e] flex justify-between items-center px-5">
                <div class="flex items-center gap-20 text-sm">
                    <p class="text-[#01acff]">On Sale Now</p>

                    <div class="flex items-center gap-5">
                        <p>Ending in</p>
                        <p id="hours" class="py-[7px] w-10 bg-[#01acff] text-center text-white rounded-[5px]">00</p>
                        <p id="minutes" class="py-[7px] w-10 bg-[#01acff] text-center text-white rounded-[5px]">00</p>
                        <p id="seconds" class="py-[7px] w-10 bg-[#01acff] text-center text-white rounded-[5px]">00</p>
                    </div>
                    <script type="text/javascript">
                        setInterval(function time(){
                            var d = new Date();
                            var hours = 24 - d.getHours();
                            var min = 60 - d.getMinutes();
                            if((min + '').length == 1){
                                min = '0' + min;
                            }
                            var sec = 60 - d.getSeconds();
                            if((sec + '').length == 1){
                                    sec = '0' + sec;
                            }
                            $('#hours').html(hours)
                            $('#minutes').html(min)
                            $('#seconds').html(sec)
                        }, 1000);

                    </script>
                </div>
                <div class="flex items-center">
                    <a href="{% url 'flashsale:flashsale' %}" class="py-[7px] px-[10px] border-2 border-[#01acff] text-[#01acff] hover:border-[#6465] hover:text-[#6465] font-semibold  rounded-[5px]">SHOP MORE</a>
                </div>
            </div>
            <div class="grid grid-cols-7 gap-4 pt-[10px] px-3">
                {% for flashsale in flashsale %}
                <a href="{% url 'product:details' flashsale.id %}" class="h-[320px] border-[1px] border-[#01aaff48] hover:shadow-lg hover:shadow-[#01aaff] transition-all ease-in-out duration-300 delay-200 bg-white rounded-md cursor-pointer relative">
                    <div class="h-[200px] w-full">
                        <img src="{{ flashsale.image.url }}" alt="" class="h-[200px] w-full rounded-t-md">
                    </div>
                    <div class="px-3 py-2">
                        <p class="line-clamp-2 py-1 text-[14px] leading-5"> {{ flashsale.name }} </p>
                        <p class="text-[#01acff] font-semibold text-xl pt-1">
                            <i class="fa-solid fa-bangladeshi-taka-sign"></i>{{ flashsale.sell_price }}
                        </p>
                        <p class="text-[#52525286] text-[12px]">
                            <del class="w-32 "><i class="fa-solid fa-bangladeshi-taka-sign"></i> {{ flashsale.price }} </del>&nbsp;<span>-</span>{{ flashsale.discount }}<span>%</span>
                        </p>
                    </div>
                </a>
                {% endfor %}
                {% for sold in flashsale_is_sold %}
                <a href="{% url 'product:details' sold.id %}" class="h-[320px] border-[1px] border-[#01aaff48] hover:shadow-lg hover:shadow-[#01aaff] transition-all ease-in-out duration-300 delay-200 bg-white rounded-md cursor-pointer relative">
                    <div class="h-[200px] w-full">
                        <img src="{{ sold.image.url }}" alt="" class="h-[200px] w-full rounded-t-md">
                        <div class="h-[200px] w-full rounded-t-md bg-black/65 absolute top-0 flex justify-center items-center text-white text-xl font-semibold  ">SOLD OUT</div> 
                    </div>
                    <div class="px-3 py-2">
                        <p class="line-clamp-2 py-1 text-[14px] leading-5"> {{ sold.name }} </p>
                        <p class="text-[#01acff] font-semibold text-xl pt-1">
                            <i class="fa-solid fa-bangladeshi-taka-sign"></i>{{ sold.sell_price }}
                        </p>
                        <p class="text-[#52525286] text-[12px]">
                            <del class="w-32 "><i class="fa-solid fa-bangladeshi-taka-sign"></i> {{ sold.price }} </del>&nbsp;<span>-</span>{{ sold.discount }}<span>%</span>
                        </p>
                    </div>
                </a>
                {% endfor %}
                
            </div>
        </div>  
    </section>

    


    <!-- .................Categories................... -->
    <section class="mt-10">
        <p class="text-2xl m-0 p-0 font-semibold text-[#01acff]">Categories</p>
        <div class="h-[400px] w-[100%]  mt-3 mb-5 rounded-[5px]">
            <div class="grid grid-cols-7 justify-between gap-[1px] bg-[#01acff]">
                {% for cat in random_categories %}
                <a href="{% url 'product:filters' %}?group={{ cat.id }}&name={{ cat.name }}" class="group h-[200px]  bg-white hover:shadow-[-1px_0px_5px_#01acff,1px_0px_5px_#01acff] origin-center hover:rotate-6 transition ease-in-out delay-150">
                    <div class="h-[140px] w-full flex justify-center items-center">
                        <img src="{{ cat.image.url }}" alt="" class="h-[100px] w-[100px]">
                    </div>
                    <div class="px-3 py-2">
                        <p class="text-[14px] text-center group-hover:text-[#01acff] group-focus:text-[#01acff]"> {{ cat.name }} </p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>  
    </section>


    <!-- .................Just For You................... -->
    <section class="mt-10 relative">
        <p class="text-2xl m-0 p-0 font-semibold text-[#01acff]">Just For You</p>
        <div class=" w-[100%]  mt-3 mb-5 rounded-[5px]">
            <div class="grid grid-cols-7 gap-4">
                {% for product in products %}
                <a href="{% url 'product:details' product.id %}" class="product hidden h-[335px] bg-white hover:shadow-lg hover:shadow-[#01aaff] transition-all ease-in-out duration-300 delay-200 rounded-md cursor-pointer">
                    <div class="h-[200px] w-full">
                        <img src="{{ product.image.url }}" alt="" class="h-[200px] w-full rounded-t-md">
                    </div>
                    <div class="px-3 py-2">
                        <p class=" py-1 text-[14px] leading-5 line-clamp-2"> {{ product.name }} </p>
                        <p class="text-[#01acff] font-semibold text-xl pt-1">
                            <i class="fa-solid fa-bangladeshi-taka-sign"></i>{{ product.sell_price }}
                        </p>
                        {% if product.discount > 0 %} 
                        <p class="text-[#52525286] text-[12px]"> 
                            <del class="w-32 "><i class="fa-solid fa-bangladeshi-taka-sign"></i> {{ product.price }} </del>&nbsp;<span>-</span> {{ product.discount }} <span>%</span>
                        </p>
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div id="moreProduct" class="h-80 w-full flex justify-center items-center absolute bottom-0 bg-gradient-to-t from-gray-100 from-70% via-gray-100/70 to-gray-100/0 ">
            <button class="loadMore px-6 py-2 mt-20 text-xl font-semibold border-2 border-[#01acff] hover:border-[#646464] rounded-md text-[#01acff] hover:text-[#646464]">Load more</button>
        </div>

        <script>
            $(".product").slice(0, 21).show();

            if($(".product").length <= 21){
                    $("#moreProduct").hide();
                }
            $(".loadMore").on("click", function(){
                $(".product:hidden").slice(0, 14).show();

                if($(".product:hidden").length == 0){
                    $("#moreProduct").hide();
                }
            })
            
        </script>
    </section>

    
</div>
{% endblock %}
