
{% extends 'sell_on_daraz/sale_on_daraz.html' %}
{% load static tailwind_tags %}
{%block title%} sell_on_daraz {%endblock%}

{% block content %}
<div class="px-10 py-5 w-full">
    <p class="text-[20px] font-semibold text-[#01acff]">Sell On Daraz | Product Groups</p>
    <div class="w-full mt-4 flex flex-col gap-5">

        
        <form action="." method="post" id="newGroupForm" data-subcategories-url="{% url 'sell_on_daraz:load_options' %}" enctype="multipart/form-data" class="h-52 w-full flex flex-col justify-center items-center gap-5 bg-white rounded-lg relative" >
            {% csrf_token %}
            <div class="grid grid-cols-2 gap-5">
                <div class="h-10 w-[400px] p-0 m-0 text-sm flex justify-center items-center border-[1px] rounded-lg overflow-hidden bg-transparent">
                    <label for="name" class="h-full w-40 font-semibold flex justify-center items-center bg-black text-white">Category</label>
                    {{ new_group_form.category }}
                </div>
                <div class="h-10 w-[400px] p-0 m-0 text-sm flex justify-center items-center border-[1px] rounded-lg overflow-hidden bg-transparent">
                    <label for="name" class="h-full w-40 font-semibold flex justify-center items-center bg-black text-white ">SubCategory</label>
                    {{ new_group_form.subcategory }}
                </div>
                <div class="h-10 w-[400px] p-0 m-0 text-sm flex justify-center items-center border-[1px] rounded-lg overflow-hidden bg-transparent">
                    <label for="name" class="h-full w-40 font-semibold flex justify-center items-center bg-black text-white">Name</label>
                    {{ new_group_form.name }}
                </div>
                <div class="h-10 w-[400px] p-0 m-0 text-sm flex justify-center items-center border-[1px] rounded-lg overflow-hidden bg-transparent">
                    {{ new_group_form.image }}
                </div>
            </div>
            
            

            <!-- {% if new_group_form.errors or new_group_form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl absolute -bottom-0">
                {% for field in new_group_form %}
                    {{ field.errors }}
                {% endfor %}
                {{ new_group_form.non_field_errors }}
            </div>
            {% endif %} -->


            <button name="new_group_form" type="submit" class="px-28 h-10 font-semibold bg-[#01aaff3d] hover:bg-[#01acff] hover:text-white  border border-gray-300 rounded-lg focus:ring-[#01aaff] focus:border-[#01aaff3d]">ADD</button>
            
        </form>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            $("#id_category").change(function () {
            var url = $("#newGroupForm").attr("data-subcategories-url");
            var catId = $(this).val();

            $.ajax({
                url: url,
                data: {
                'category': catId
                },
                success: function (data) {
                $("#id_subcategory").html(data);
                }
            });

            });
        </script>

        
        <div class="w-full bg-white rounded-lg ">
            <div class="px-10 flex justify-between items-center">
                <p class="text-2xl py-4  text-[#01acff]">Product Groups</p>
                <!-- <select name="Filter" id="" class="h-8 w-40 py-0 px-3 flex justify-center items-center">
                    <option value="0">All Groups</option>
                    {% for sub_cat in sub_categories %}
                    <option value="{{ sub_cat.id }}"> {{ sub_cat.name }} </option>
                    {% endfor %}
                </select> -->
            </div>
            <!-- ...................Product Groups................... -->
            <ul class="h-[370px] w-full grid grid-cols-2 content-start gap-3 pt-1 pb-36 px-10 overflow-auto">
                {% for group in groups %}
                <li class="w-full h-12 bg-[#01aaff0c] shadow shadow-[#01aaff49] pe-5 rounded-md flex justify-between items-center font-semibold">
                    <div class="p-[1px] h-full w-full flex justify-start items-center gap-4 overflow-hidden">
                        <img src="{{ group.image.url }}" alt="" class="h-full w-10 rounded-md border-[2px]">
                        <div>{{ group.name }}</div>
                    </div>
                    <div class="flex justify-center items-center relative">
                        <button class="group inline-flex self-center items-start p-2 text-sm font-medium text-center text-black rounded-lg hover:bg-[#01acff50]">
                            <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 4 15">
                                <path d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"/>
                            </svg>
                            <div class="hidden group-hover:block z-10 bg-white divide-y divide-gray-100 rounded-lg shadow shadow-[#01acff70] w-28 absolute right-[33px] top-3">
                                <ul class="py-2 text-sm text-start text-gray-700" aria-labelledby="dropdownMenuIconButton">
                                    <li>
                                        <a href="{% url 'sell_on_daraz:edit_group' group.id %}" class="block px-4 py-2 hover:bg-[#01acff50]">Edit</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'product:filters' %}?group={{ group.id }}&name={{ group.name }}" class="block px-4 py-2 hover:bg-[#01acff50]">Go to</a>
                                    </li>
                                    <li>
                                        <form action="{% url 'sell_on_daraz:delete_group' group.id %}" method="post">
                                            {% csrf_token %}
                                            <input name="delete_group" type="submit" value="Delete" class="block w-full text-start px-4 py-2 hover:bg-[#01acff50]" onclick="return confirmDelete();">
                                        </form>

                                        <script>
                                            function confirmDelete() {
                                                return confirm("Are you sure you want to delete this Group?");
                                            }
                                        </script>
                                    </li>
                                </ul>
                            </div>
                        </button>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}